<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/678ee4d480.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="w-full h-screen grid grid-flow-cols grid-cols-[2fr_5fr]">

        <!-- Left Portion of the page -->
        <div class="overflow-hidden w-full h-full bg-yellow-200 border border-black flex flex-col items-start justify-center gap-1">
            <!-- Top Left upper part -->
            <div class="w-full h-30 bg-yellow-200 flex flex-col gap-2 items-center justify-center">
                <div class="w-full flex gap-2">
                    <div><i class="fa-brands fa-whatsapp fa-xl"></i></div>
                    <p>Welcome, <%=user.username%></p>
                </div>
                <input class="w-90 mx-2 p-2 h-10 rounded-xl border-black border-2" type="text" placeholder="Search">
            </div>

            <!-- Top Left lower part -->
            <div class="overflow-scroll scrollbar-none">
                <% if(chat.length > 0) {%>
                    <% chat.forEach((elem)=> {%>
                        <a href="/chat/<%=elem.id%>">
                            <div class="border border-black rounded-xl m-2 p-1 flex items-center justify-start gap-1 w-87 h-15 active:bg-gray-600">
                                <img class="mx-1 w-8 h-8 object-cover rounded-full" src="<%= elem.profile_picture_url %>" alt="">
                                <div>
                                    <%= elem.sender_name %>
                                </div>
                            </div>
                        </a>
                    <%}) %>
                <%} %>
            </div>
        </div>

        <!-- Right Portion of the page -->
        <div class="w-full h-full bg-white border border-black flex flex-col items-start justify-start">
            <!-- Top Right part -->
            <div class="w-full h-13 bg-black flex gap-2 items-center justify-center">
                <div class="w-full flex gap-1 items-center justify-start overflow-hidden">
                    <img class="mx-1 w-8 h-8 object-cover rounded-full" src="https://shoppershine.com/wp-content/uploads/2021/01/SS-PS104-1.jpg" alt="">
                    <p class="text-white">UserName</p>
                </div>
            </div>

            <!-- Top middle part -->
            <% if(messages.length > 0) {%>
                <% messages.forEach((elem)=> {%>
                    <% if(messages.senderId === user.Id) {%>
                        <div class="w-full h-70 border border-black">
                            <div class="m-2 p-2 bg-blue-300 text-white">
                                messages.message
                            </div>
                        </div>
                    <%} %>
                <%}) %>
            <%}else { %>
                <div class="w-full h-133 flex items-center justify-center">
                    <h2>Start A chat, No chat found</h2>
                </div>
            <% } %>

            <!-- Top bottom part -->
            <div class="w-full h-11 flex items-center justify-center">
                <form class="flex items-center justify-center w-full h-full" action="" method="post">
                    <input class="mx-1 p-2 h-full w-full bg-white border border-black rounded-xl" type="text" name="message" placeholder="message">
                    <button class="mx-1 h-10 w-11 rounded-full bg-green-600" type="submit">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </form>
            </div>
        </div>

    </div>

</body>

</html>